.primary-color { background: #0276fd; }
/*.background-color { background: #f0f0e0; }*/
.text-primary-color { color: #ffffff; }

.accent-color { background: #5dfc0a ; }

.primary-text-color { color: #212121; }

.secondary-text-color { color: #757575; }

.divider-color { background-color: gray; }

.accent-text { color:#5dfc0a;}



.thick-gray-border {
      border-color: #5dfc0a;
      border-width: 10px;
      border-style: solid;
    border-radius: 50%;
  width: 50%;
}




    

    .largest-image {
      width: 75%;}

.smallest-image {
  width: 35%;}
  
  
/*#about{
    background-attachment: fixed;
    background-image: url( );
    display: block;
    position: relative;
   
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity:.6;
    background-blend-mode: overlay;
    background-repeat: repeat;
}
  */
  
  .navbar {
   background-color:gray; 
    
}
  
  
 /*carousel*/ 
  
  
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}




.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 20s;
  animation-name: fade;
  animation-duration: 20s;
}

@-webkit-keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

.border {
border-color: #5dfc0a;
border-width: 2px;
border-style:solid;
 
}